<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <div class="badgeSM user-image">Admin</div>
    <span class="hidden-xs">Administrator</span>
</a>
<ul class="dropdown-menu">
    <li class="user-header">
        <div style="width: 100%;border:none">
            <div class="badgeLG">DA</div>
        </div>
        <p>
            <small>Member since Nov. 2019</small>
        </p>
    </li>
    <li class="user-footer">
        <div class="pull-left">
            <a href="~/Admin/Login/ChangePassword" id="aChangePassword" class="btn btn-default btn-flat">Change Password</a>
        </div>
        <div class="pull-right">
            <a href="~/Admin/Login/LogOff" class="btn btn-default btn-flat">Sign Out</a>
        </div>
    </li>
</ul>
